@charset "utf-8";

*{
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
}

ul{
	list-style-type: none;
}

body{
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/wa.jpg") no-repeat;
	background-position: -115px -90px;
	background-attachment: fixed;
}	


header {
	width: 100%;
	height: 100px;
	-webkit-background-size: cover;
	background-color: #1b2e2b;
	border-bottom: 3px solid rgb(107, 168, 107);
	background-size: cover;
	background-position: center center;
	position: fixed;
	padding: 4px 330px;
	box-sizing: border-box;
	z-index: 200;
}

.wrapper {
	width: 1170px;
	margin: auto;
}

nav {
	float: right;
	list-style: none;
	margin-top: 35px;
}

nav a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: 900;
	transition: .3s;
	border-radius: 20px;
	padding: 5px 18px;
}

nav a:hover,
nav a.active{
	color: black;
	background-color: #fff;
}

.logo {
	float: left;
}
.logo img {
	width: 100%;
}

section{
	height: 100vh;
	display: flex;
}

.welcome-text {
	position: absolute;
    top: 50%;
    margin-top: -170px;
    left: 50%;
    margin-left: -500px;
}

.txt{
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    width: 855px;
    height: 318px;
    overflow: hidden;
    position: relative;
}

.txt p{
    color: rgb(72, 229, 140);
    width: 350px;
    position: absolute;
    --animate-duration: 1.7s;
}

.content-box{
    position: relative;
    top: 50%;
    text-align: right;
    left: 50%;
    margin-left: 305px;
    margin-top: -160px;
    width: 550px;
}

.content-box h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.content-box h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px rgb(126, 255, 182);
}

.content-box h2:nth-child(2){
    color: rgb(126, 255, 182);
    animation: animate 4s ease-in-out infinite;
}


/*섹션2*/
section#about{
	position:relative;
}

#about h2{
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -152.5px;
	top: 50%;
	margin-top: -270px;
}

.big-box1{
	width: 1200px;
	height: 550px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -600px;
	overflow: hidden;
}

.animation-box{
	width: 700px;
	height: 550px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

.animate__animated.animate__fadeInUp {
	--animate-duration: 1.5s;
}

.animate__animated.animate__fadeInDown {
	--animate-duration: 1.5s;
}

.single-box{
    width: 700px;
    background-color: #fff;
    border-radius: 20px;
	box-sizing: border-box;
	z-index: 1;
	height: 550px;
	padding: 28px 30px;
}

.single-box span{
	position: absolute;
	width: 1px;
	height: 480px;
	left: 50%;
	background-color: #ccc;
}

.body-area{
	width: 300px;
	height: 480px;
	float: left;
	margin-right: 40px;
}

.body-area:nth-child(2){
	margin-right: 0px;
}

.header-area{
	width: 200px;
	height: 200px;
	left: 50%;
	margin-left: -100px;
	position: relative;
	overflow: hidden;
	padding-top: 32px;
}

.header-area img{
	width: 100%;
	position: absolute;
}

.body-area h3{
	font-size: 28px;
	font-weight: 700;
	padding-top: 28px;
	text-align: center;
}

.body-area h4{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding-top: 8px;
	color: rgb(56, 177, 108);
}

.stat{
	padding-top: 16px;
}

.stat li{
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 24px;
}

.stat2{
	padding: 20px 7px;
}

.stat2 li{
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 18px;
	color: #585858;
}

.stat2 li p{
	font-size: 18px;
	font-weight: bold;
	padding-top: 2px;
	color: black;
}

.animation-box2{
	width: 430px;
	height: 550px;
	right: 0px;
	position: absolute;
	display: none;
}

.box1{
	width: 430px;
	height: 550px;
	background-color: #fff;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 28px 30px;
}

.box1 .icon-box{
	position: relative;
	width: 38px;
	height: 38px;
}

.box1 .icon-box img{
	position: absolute;
	width: 100%;
}

.progress{
	width: 100%;
	background-color: rgb(201, 201, 201);
	border-radius: 10px;
	margin-bottom: 13px;
	margin-top: 8px;
	height: 25px;
}

.progress-bar{
	height: 100%;
	background-color: rgb(72, 229, 140);;
	border-radius: 10px;
	position: relative;
}

.progress-bar span{
	position: absolute;
	top: 0%;
	right: 0%;
	margin-right: 25px;
	font-weight: 600;
	transition: all 1.5s;
}


@keyframes animate{
    0%,100%{
        clip-path: polygon(0 48%, 14% 48%, 26% 55%, 54% 66%, 70% 64%, 85% 56%, 100% 53%, 100% 100%, 0% 100%);
    }

    50%{
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

/*섹션3*/

section#portfolio{
    width: 100%;
    height: 330vh;
    position: relative;
}

.big-box2{
    width: 705px;
    height: 563px;
    left: 50%;
	margin-left: -352.5px;
	margin-top: 165px;
    position: relative;
    margin-bottom: 200px;
    overflow: hidden;
}

.big-box2 h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    color: rgb(72, 229, 140);
}

.animation-box3{
    width: 705px;
    height: 500px;
    position: absolute;
	display: none;
    overflow: hidden;
}

.box2{
    float: left;
    width: 320px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 65px;
    overflow: hidden;
    cursor: pointer;
}

.box2:nth-child(2){
    margin-right: 0px;
}

.box2:hover .img-box img{
    transform: scale(1.2);
}

.site-img-box{
    width: 320px;
    height: 240px;
    position: relative;
    top: 0px;
    background-color: saddlebrown;
    overflow: hidden;
}

.site-img-box img{
    position: absolute;
    width: 100%;
    transition: all 0.2s linear;
}

.text{
    padding: 22px 21px;
    text-align: center;
}

.text h3{
    font-size: 25px;
    margin-bottom: 26px;
}

.text p{
    font-size: 16px;
    font-weight: 500;
}


.big-box3{
    width: 1200px;
	padding: 20px 0px;
    position:relative;
    margin-bottom: 200px;
	margin-top: 880px;
    overflow: hidden;
    box-sizing: border-box;
}

.box3-inner{
    padding: 945px 0px;
    box-sizing: border-box;
}

.anibox{
    width: 1200px;
    top: 0px;
    position: absolute;
    display: none;
}

.big-box3 h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    color: rgb(72, 229, 140);
}

.product{
    width: 320px;
    height: 500px;
    float: left;
    margin-right: 120px;
    margin-bottom: 90px;
}

.product:nth-of-type(3){
    margin-right: 0px;
}

.product:nth-of-type(6){
    margin-right: 0px;
}

.product:nth-of-type(8){
    margin-right: 0px;
}



.content{
    display: block;
    width: 320px;
    height: 400px;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}

.box3-text{
    width: 320px;
    text-align: center;
    padding-bottom: 34px;
}

.box3-text h5{
    font-size: 26px;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.box3-text p{
    color: #fff;
    margin-bottom: 20px;
}

#modal-button {
	background: rgb(58, 204, 121);
	border: none;
	color: #fff;
	padding: 10px 30px;
	font-size: 16px;
    cursor: pointer;
}


.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
	z-index: 201;
}
 
.products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    width: 80rem;
}
 
.products-preview .preview.active{
    display: inline-block;
}
 
.products-preview .preview img{
    height: 40rem;
}
 
.products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
}
 
.products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}
 
.products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 1.8rem;
}
 
.products-preview .preview p{
    line-height: 1.5;
    font-size: 1rem;
    color:#777;
}





/*resposive*/
@media (max-width:1539px) {
	.wrapper{
		width: 900px;
		margin: auto;
	}

	.logo{
		float: left;
		text-align: center;
		margin: auto;
	}

	img {
		width: 100%;
	}
	.nav-area {
		float: right;
		margin-top:30px;
	}
	.nav-area li a {
		padding: 5px 15px;
		font-size: 13px;
	}
	.nav-area {
		text-align: center;
	}
	
	.welcome-text{
		margin-top: -150px;
		margin-left: -450px;
	}

	.txt{
		font-size: 60px;
		width: 400px;
		height: 245px;
	}

	.content{
		margin-left: 245px;
		margin-top: -150px;
	}

	.content h2{
		font-size: 90px;
	}
}




@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 100%;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text .animated-text {
		font-size: 30px;
	}
}

