@charset "utf-8";

*{
	margin:0;
	padding:0;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

button{
	border:none;
	background:none;
}

ul{
	list-style-type:none;
}

li{
	text-decoration:none;
}

a{
	text-decoration:none;
	color:black;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
	overflow-x:hidden;
	background-color:#fff;
}

#menuicon{
	display: none;
}

header{
	width:1400px;
	height:100px;
	margin:auto;
	background-color:#fffefc;
	border-radius:0px 0px 50px 50px;
	border-left:6px solid #6c172f;
	border-right:6px solid #6c172f;
	border-bottom:6px solid #6c172f;
	background:url("../img/background1.png") no-repeat 50% 50%;
	background-size:cover;
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-700px;
	z-index:100;
	transition: top 0.5s ease-in-out;
}

.wrapper{
	width: 1400px;
	margin: auto;
}

.nav{
	width:1400px;
	height:100px;
	box-sizing:border-box;
	padding:37px 95px;
	margin:auto;
}

.nav-up{
	top: -170px;
}

h1.logo{
	width:280px;
	height:142px;
	position:absolute;
	left:50%;
	margin-left:-140px;
	bottom:-70px;
}

h1.logo img{
	position:absolute;
	width:100%;
}

.nav ul{
	display:inline-block;
}

ul.menu1{
	float:left;
}

.menu1 li{
	float:left;
	padding: 0px 60px;
}

.menu1 li > a{
	font-size:24px;
	font-weight:500;
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing:2px;
	color:#6c172f;
	position: relative;
	cursor: pointer;
}

.menu1 li > a::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 4px;
	width: 100%;
	left: 0px;
	background-color: #6c172f;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	transform: scaleX(0);
}

.menu1 li > a:hover::after{
	transform: scaleX(1);
}

ul.menu2{
	float:right;
}

.menu2 li{
	float:left;
	padding: 0px 50px;
}

.menu2 li > a{
	font-size:24px;
	font-weight:500;
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing:2px;
	position: relative;
	color:#6c172f;
}

.menu2 li > a::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 4px;
	width: 100%;
	left: 0px;
	background-color: #6c172f;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	transform: scaleX(0);
}

.menu2 li > a:hover::after{
	transform: scaleX(1);
}

.sect01{
	width:100%;
	height: 115vh;
	overflow:hidden;
	background:url("../img/back-hd2.png") no-repeat;
	background-size: cover;
	background-position:center;
	margin-top:-106px;
	z-index:99;
}

.black1{
	width: 100%;
	height: 115vh;
	background-color: rgba(0,0,0,0.5);
}

.sect01 .inner{
	width:1400px;
	margin:auto;
	background-color: #ffcc66;
}

.title-text{
	margin:auto;
	top:50%;
	margin-top:-75px;
	left:50%;
	margin-left:-450px;
	position:absolute;
}

.sect01 h2{
	width:880px;
	height:80px;
	text-align:center;
	color:white;
	font-size:60px;
	margin-bottom:20px;
}

.sect01 p{
	text-align:center;
	color:white;
	width:880px;
	height:30px;
}




/*섹션2 스크롤할때 오른쪽에 같이 쭈우욱 내려오는 애니메이션 있으면 재밌을거 같음*/
.sect02{
	width:100%;
}

.all-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

.big-img{
	width: 50%;
	overflow: hidden;
}

.big-img img{
	width: 100%;
	vertical-align: top;
}


.text-box{
	width: 50%;
	background-color:#fff1d5;
	box-sizing: border-box;
}

.box2{
	overflow: hidden;
	box-sizing: border-box;
	padding: 120px 0 0 80px;
}

.effect-box{
	padding-right: 115px;
	width: 509px;
	display: none;
}

.effect-box h2{
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 60px;
	color: #48230a;
}

.effect-box h3{
	width: 450px;
	height: 140px;
	font-size: 50px;
	font-weight: 800;
	line-height: 62px;
	margin-bottom: 20px;
	color: #48230a;
}

.effect-box p{
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 110px;
	color: #48230a;
}

.btn{
	height: 60px;
	border: 2px solid #48230a;
	color: #48230a;
	font-size:20px;
	font-weight: 600;
	background-color: transparent;
	letter-spacing: 1px;
	position: relative;
	transition: all;
	overflow: hidden;
	cursor: pointer;
}

.btn a{
	padding: 13px 22px;
}

.btn:focus{
	outline: none;
}

.btn::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #48230a;
	top: 100%;
	left: 0;
	transition: all 0.4s;
	z-index: -1;
}

.btn:hover::before{
	transform: translateY(-100%);
}

.btn:hover a{
	color: #fff1d5;
}

/*섹션3*/
.sect03{
	width: 100%;
	background-color: #ffffff;
}

.sect03 .at-box{
	width: 100%;
	height: 85vh;
}

.sect03 .inner{
	width: 1400px;
	box-sizing: border-box;
	padding: 80px 0px;
	margin: auto;
}

.sect03 h2{
	font-size: 40px;
	font-weight: 600;
	margin: auto;
	padding-top: 10px;
	text-align: center;
	color: #48230a;
	margin-bottom: 40px;
}

.big-box{
	display: flex;
	justify-content: center;
}

.box{
	width: 320px;
	height: 440px;
}

.box2-img{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.box2-img img{
	width: 100%;
	transition: all 0.2s linear;
}

.box2-img:hover img {
	transform: scale(1.2);
  }

.box-text{
	width: 320px;
	height: 120px;
	box-sizing: border-box;
	padding: 20px 10px;
	text-align: center;
}

.box-text h3{
	font-size: 22px;
	font-weight: 800;
	color: #48230a;
	margin-bottom: 7px;
}

.box-text p{
	font-size: 16px;
	font-weight: 400;
	color: #48230a;
}



/*footer*/

footer{
	width: 100%;
	background-color:#fffefc;
	border-top: 6px solid #6c172f;
	background:url("../img/background1.png") no-repeat;
	background-size:cover;
}

footer .inner{
	width: 1280px;
	margin: auto;
	padding: 185px 40px;
	position: relative;
}

.ft-img{
	width: 400px;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -90px;
}

.ft-logo{
	width: 400px;
	overflow: hidden;
}

.ft-text{
	width: 500px;
	right: 0px;
	top: 50%;
	margin-top: -90px;
	text-align: right;
	box-sizing: border-box;
	position: absolute;
}

.ft-text p{
	font-size: 18px;
	font-weight: 500;
	color: #48230a;
	margin-bottom: 24px;
}

.ft-text li{
	font-size: 14px;
	color: #7e3e14;
	font-weight: 500;
	padding: 4px 0px;
}

@media (max-width:1499px){
	header{
		width: 1000px;
		left: 50%;
		margin-left: -500px;
	}

	.nav{
		width: 1000px;
		padding: 36px 50px;
	}

	.menu1 li{
		padding: 0px 50px;
	}

	.menu2 li{
		padding: 0px 28px;
	}

	#sect02 h2{
		font-size: 18px;
		margin-bottom: 12px;
	}

	#sect02 h3{
		font-size: 36px;
		width: 320px;
		margin-bottom: -22px;
		line-height: 45px;
	}

	#sect02 p{
		font-size: 14px;
		margin-bottom: 60px;
		line-height: 26px;
		width: 363px;
	}

	.text-box{
		padding:96px 90px;
		box-sizing: border-box;
	}

	.effect-box{
		width: 374px;
	}

	.all-box{
		width: 100%;
	}

	.box2{
		width: 390px;
		padding-bottom: 465px;
	}

	.big-img img{
		background-position: -300px 0px;
	}

	#sect03 .inner{
		width: 1000px;
	}

	#sect03 h2{
		font-size: 46px;
	}

	.big-box{
		width: 800px;
		height: 880px;
		margin: auto;
	}

	.box{
		margin-right: 160px;
	}

	.box:nth-child(2){
		margin-right: 0px;
	}

	footer .inner{
		width: 1000px;
		padding: 120px 20px;
	}

	.ft-img{
		width: 200px;
		top: 50%;
		margin-top: -60px;
	}

	.ft-img img{
		position: absolute;
		width: 100%;
	}

	.ft-logo{
		width: 200px;
	}

	.ft-text{
		margin-top: -60px;
	}

	.ft-text p{
		font-size: 14px;
		margin-bottom: 5px;
	}

	.ft-text li{
		font-size: 12px;
		padding: 2px 0px;
	}

}

@media (max-width:768px){
	header{
		height: 60px;
		border-radius:0px;
		border-left:none;
		border-right:none;
		border-bottom:4px solid #6c172f;
		background:url("../img/background1.png") no-repeat 50% 50%;
		background-size:cover;
		position:relative;
		top: 0px;
		right: 0px;
		box-sizing: border-box;
		padding: 17px 219px;
	}

	.nav{
		width: 100%;
		height: 60px;
		left: 148px;
		position: absolute;
	}

	h1.logo{
		display: none;
	}

	.menu1{
		top: 60px;
		position: absolute;
	}

	.menu1 li{
		display: block;
		float: none;
		padding: 14px 10px;
		background-color: #fff1d5;
	}

	.menu2 li{
		display: none;
	}


	

	input[id="menuicon"]{
		display: none;
	}

	input[id="menuicon"] + label {
		display: block;
		width: 30px;
		height: 25px;
		position: relative;
		cursor: pointer;
	}

	input[id="menuicon"] + label span{
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 30px;
		background: #6c172f;
		transition: all .35s;
	}

	input[id="menuicon"] + label span:nth-child(1) {
		top: 0;
	}

	input[id="menuicon"] + label span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}

	input[id="menuicon"] + label span:nth-child(3) {
		bottom: 0;
	}

	input[id="menuicon"]:checked + label span:nth-child(1) {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}

	input[id="menuicon"]:checked + label span:nth-child(2) {
		opacity: 0;
	}

	input[id="menuicon"]:checked + label span:nth-child(3) {
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg);
	}

	



	.all-box{
		width: 100%;
	}

	.box2{
		top: 80px;
		margin-top: 0px;
	}

	.big-box{
		width: 1000px;
		;
	}
}