@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

button{
	border:none;
	background:none;
}

ul{
	list-style-type:none;
}

li{
	text-decoration:none;
}

a{
	text-decoration:none;
	color:black;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
	overflow-x:hidden;
	background-color:#fff;
}

header{
	width:1400px;
	height:100px;
	margin:auto;
	background-color:#fffefc;
	border-radius:0px 0px 50px 50px;
	border-left:6px solid #6c172f;
	border-right:6px solid #6c172f;
	border-bottom:6px solid #6c172f;
	background:url("../img/background1.png") no-repeat 50% 50%;
	background-size:cover;
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-700px;
	z-index:100;
	transition: top 0.5s ease-in-out;
}

.wrapper{
	width: 1400px;
	margin: auto;
}

.nav{
	width:1400px;
	height:100px;
	box-sizing:border-box;
	padding:37px 95px;
	margin:auto;
}

.nav-up{
	top: -170px;
}

h1.logo{
	width:280px;
	height:142px;
	position:absolute;
	left:50%;
	margin-left:-140px;
	bottom:-70px;
}

h1.logo img{
	position:absolute;
	width:100%;
}

.nav ul{
	display:inline-block;
}

ul.menu1{
	float:left;
}

.menu1 li{
	float:left;
	padding: 0px 60px;
}

.menu1 li > a{
	font-size:24px;
	font-weight:500;
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing:2px;
	color:#6c172f;
    position: relative;
    cursor: pointer;
}

.menu1 li > a::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 5px;
	width: 100%;
	left: 0px;
	background-color: #6c172f;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	transform: scaleX(0);
}

.menu1 li > a:hover::after{
	transform: scaleX(1);
}

ul.menu2{
	float:right;
}

.menu2 li{
	float:left;
	padding: 0px 50px;
}

.menu2 li > a{
	font-size:24px;
	font-weight:500;
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing:2px;
    position: relative;
	color:#6c172f;
}

.menu2 li > a::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 5px;
	width: 100%;
	left: 0px;
	background-color: #6c172f;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	transform: scaleX(0);
}

.menu2 li > a:hover::after{
	transform: scaleX(1);
}

.sect01{
    width: 100%;
	height: 100vh;
    background: url("../img/people.jpg") no-repeat;
    background-size: cover;
}

.sect01 .at-box1{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.sect01 .main{
    width: 1400px;
    margin: auto;
	position: relative;
}

.sect01 .main-text{
    text-align: center;
    box-sizing: border-box;
    padding: 325px 0px;
}

.sect01 h2{
    font-size: 100px;
    color: #fff;
    margin-bottom: 20px;
}

.sect01 p{
    font-size: 22px;
    color: #fff;
}

.sect02{
    width: 100%;
    background: url("../img/back1.jpg") no-repeat;
    background-size: cover;
}

.sect02 .at-box2{
    width: 1400px;
    margin: auto;
    box-sizing: border-box;
    padding: 200px 100px;
    
}

.big-box{
    width: 1200px;
}

.box{
    width: 1200px;
    height: 380px;
    background-color: #ffffff;
    margin-bottom: 245px;
    box-sizing: border-box;
    padding: 40px 80px;
	position: relative;
	overflow: hidden;
}

.box:nth-child(3){
    margin-bottom: 0px;
}



.text{
    width: 520px;
    height: 300px;
    top: 40px;
    left: 80px;
    color: #48230a;
	display: none;
}

.box:nth-child(2) .text p{
	width: 235px;
}



.text h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}

.text h3{    
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}

.text p{
    width: 275px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.highlight{
	display: inline-table;
	position: relative;
	overflow: hidden;
}

.highlight span{
	position: relative;
	z-index: 5;
}

.highlight::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 200, 0, 0.5);
	position: absolute;
	top: 0;
	left: -100%;
	transition: all 0.35s;
	z-index: 1;
}

.highlight-close{
	display: inline-table;
	position: relative;
	overflow: hidden;
}

.highlight-close span{
	position: relative;
	z-index: 5;
}

.highlight-close::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 200, 0, 0.5);
	position: absolute;
	top: 0;
	left: -100%;
	transition: all 0.35s;
	z-index: 1;
}

.content{
	width: 110px;
}

.content:hover .highlight::before {
	left: 0;
}

.content-close{
	width: 50px;
	padding-left: 60px;
	margin-top: 300px;
}

.content-close:hover .highlight-close::before{
	left: 0px;
}

.text span{
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
	height: 30px;
    border-bottom: 4px solid #48230a; /*애니메이션 효과!*/
	padding: 2px 4px;
	cursor: pointer;
	z-index: 5;
}

.more span{
	font-size: 18px;
    font-weight: 700;
    display: inline-block;
    height: 30px;
    border-bottom: 3px solid #48230a; /*애니메이션 효과!*/
	padding: 2px 4px;
	cursor: pointer;
	z-index: 5;
}

.box-hide{
	width: 695px;
	height: 500px;
	position: absolute;
	right: 0px;
	margin-top: -120px;
	margin-right: 250px;
	overflow: hidden;
}

.box-img{
	width: 695px;
	height: 500px;
	z-index: 20;
	float: right;
	margin-top: -20px;
	position: absolute;
	bottom: 0px;
	display: none;
}

.more{
	width: 625px;
	height: 380px;
	position: absolute;
	background-color: #fffefc;
	left: -625px;
	top: 0px;
	z-index: 6;
}

.mini-inner{
	width: 625px;
	box-sizing: border-box;
	padding-left: 40px;
	margin-top: 60px;
	background-color: #fffefc;
}

.mini-box{
	width: 180px;
	height: 180px;
	margin-right: 22px;
	float: left;
}

.mini-box:nth-child(3){
	margin-right: 0px;
}

.mini-box p{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

.mini-box:nth-child(2) p{
	padding-left: 5px;
}

.mini-box:nth-child(3) p{
	padding-left: 10px;
}

.close{
	font-size: 18px;
    font-weight: 700;
    display: inline-block;
    height: 30px;
	width: 35px;
    border-bottom: 3px solid #48230a;
	padding: 2px 3px;
	cursor: pointer;
	position: absolute;
	bottom: 37px;
	left: 80px;
}

/*footer*/

footer{
	width: 100%;
	background-color:#fffefc;
	border-top: 6px solid #6c172f;
	background:url("../img/background1.png") no-repeat;
	background-size:cover;
}

footer .inner{
	width: 1400px;
	padding: 200px 0px;
	margin: auto;
	position: relative;
}

.ft-img{
	width: 400px;
	position: absolute;
	top: 90px;
}

.ft-logo{
	width: 400px;
	height: 200px;
	overflow: hidden;
}

.ft-text{
	width: 500px;
	top: 90px;
	right: 0px;
	text-align: right;
	box-sizing: border-box;
	position: absolute;
}

.ft-text p{
	font-size: 18px;
	font-weight: 500;
	color: #48230a;
	margin-bottom: 24px;
}

.ft-text li{
	font-size: 14px;
	color: #7e3e14;
	font-weight: 500;
	padding: 4px 0px;
}


